<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.svlit.sandbox.feature.weather">

    <application>
        <activity
            android:name=".presentation.ForecastActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>